

.edit-person-cont{
    display: flex;
    flex-direction: row;
    

}

.edit-person-data-cont{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(151, 151, 233); 

    padding: 10px; 
    border: 2px solid #000000; 
    margin: 10px;

}




