
.personInField{
  width: '50%';
  position: 'relative';
  left: '100%';
}

.clickable-list-item:hover{
  cursor: pointer;
  background-color: rgb(159, 159, 214);
}

/* .personen-main{
  height:88vh;
  width: 100%;
  margin: 0 auto;
  overflow:auto;
}

.scroller-cont{
  height: 100%;
}

.person-scroller {
  position: absolute;
  left: 0px;
  margin: 0px auto;
  height:100%;
  width: 17.6%;
  overflow: auto;
} */

/* .person-search{
  width:16%;
  height: 4%;
  position:relative;
  margin-left:2px;
  
  
  border:2px solid rgb(21, 160, 170);
  border-radius: 5px;
} */

/* .person-data-cont {
  width:82.4%;
  height: 100%;
  position: absolute;
  right: 0%;
  overflow: auto;
} */

/* .pers-data-left{
  position: absolute;
  left: 0%;
  width:30%;
}

.pers-data-right{
  position:absolute;
  right: 0%;
  width:70%;

} */

/* .current-person {
  position: absolute;
  right: 50%;
} */


