.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-cont{
  background-color:aquamarine;
  border-radius: 10px;
  
}

#register-cont{
  background-color: bisque;
}
