
/* This file contains only styling for html elements that are rendered almost in every
Tab and are thus relevant globaly. */


#root{
  /* display:flex;
  flex-direction: column; */
  width: 100vw;
  height:1VMAX;
}

/* #person-data{
  display: flex;
  flex-direction: row;
} */

.main-entity-data-cont{
  width: 100vw;
  height:100VH;
  /* width: 100%;
  margin: 0 auto;
  overflow:auto; */
  display: flex;
  flex-direction: row;
}


.add-button{
  display: flex;
  margin-bottom: 5px;
  /* width: 30px;
  height: 30px; */
  font-size:medium;
  font-weight:normal;
  border-radius: 10%;
  transition-duration: 0.4s;
  background-color: rgb(11, 119, 168);
  text-align: center;
}


.add-button:hover {
  /* background-image: url('/app/src/resources/pictures/plus-button.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4CAF50; /* Green */
  color: white;
}

.logout{
  background-color: #cccccc;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.logout-btn{
  height: 50%;
  font-size:medium;
  font-weight:normal;
  border-radius: 10%;
  transition-duration: 0.4s;
  background-color: rgb(210, 166, 181);
  text-align: center;
}

.logout-btn:hover {
  /* background-image: url('/app/src/resources/pictures/plus-button.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cd3636; /* Green */
  color: white;
}

.current-user{
  padding: 8px;
  text-align: center;
  height: 50%;
  font-weight:bolder;
  position:relative;
  left: 25px;
  bottom: 0px;
  background-color: rgb(93, 161, 134);
  border-radius: 5px;
}


.entity-list-scroller-cont{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:17.6VW
}

.entity-list-scroller {
  
  /* position: absolute; */
  left: 0px;
  margin: 0px auto;
  height:95%;
  width:100%;
  overflow:scroll;
  
}



.entity-search{
  display: flex;
  margin-left:2px;
  border:2px solid rgb(21, 160, 170);
  border-radius: 5px;
}

.entity-data-cont {
  background-color: #e9e9e9;
  /* display: flex;
  flex-direction: row; */

  width:82%;
  height: 100vh;
  position: absolute;
  right: 0%;
  overflow: auto;
}

.entity-data-left{
  position: absolute;
  left: 0%;
  width:25%;
}

.entity-data-right{
  position:absolute;
  right: 0%;
  width:75%;

}

.current-entity {
  position: absolute;
  right: 50%;
}

.info-text{
  background: rgb(151, 151, 233); 
  width: 50%;
  position: relative;
  left:25%;
  border-radius: 6px;
  padding: 10px; 
  border: 2px solid #000000; 
  margin: 10px;
  text-align: center;
  
}

.clickable-list-item{
  cursor: pointer;
  background-color: rgb(178, 178, 201);
}

.clickable-list-item:hover{
  cursor: pointer;
  background-color: rgb(159, 159, 214);
}




table{
  width:100%;
}
td {
    border: 1px solid #333;
    border-radius: 2px;
}

thead,
tfoot {
    background-color: rgb(11, 119, 168);
    color: #fff; 
}



ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width:auto;
    background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    
    box-shadow: 2px 2px 3px #666;
    user-select:none;
  }
  
 
  
  li:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 5px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  li:hover {
    border-color: #777;
    box-shadow: 3px 3px 5px #333;
    
    background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  }
  
  li:hover:before {
    border-left-color: #777;
  }
  
  li:active {
    background: rgb(28, 4, 241);
    box-shadow: inset 0 1px 1px #666;
  }